body {
    background-color: #23223C; /* Change this to your desired background color */
    text-align: center; /* Center all text */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    position: relative; /* Set position to relative for absolute positioning of children */
}

.titles {
    align-items: center;
    padding-top: 120px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    color: white; /* Set all heading text to white */
}

h1 {
    font-size: 3rem;
    margin: 0; /* No margin for h1 */
    font-weight: bold;
}

.image-row {
    display: flex; /* Use Flexbox to arrange images in a row */
    justify-content: center; /* Center the images */
    margin-top: 20px; /* Add some space above the images */
}

.responsive-image {
    width: 30%; /* Adjust the width of each image */
    height: auto; /* Maintain aspect ratio */
    margin: 0 20px; /* Add some space between images */
}
