body {
    background-image: linear-gradient(to bottom, #23223C, #23223C, #312F6B); /* Add the gradient background */
    background-color: #23223C; /* Fallback background color */
    text-align: center; /* Center all text */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    position: relative; /* Set position to relative for absolute positioning of children */
}


.titles {
    /* display: flex; */
    align-items: center;
    padding-top: 120px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    color: white; /* Set all heading text to white */
}

h1 {
    font-size: 5.3rem;
    margin: 0; /* No margin for h1 */
    font-weight: bold;
}

.highlight-habit {
    color: #F25DFF; 
}

.highlight-impact {
    color: #FFE93F;
}

h2 {
    margin: 0.5rem 2rem;
  
  /* Reduced margin for h2 */
}

.button {
    display: inline-block; /* Makes the button-like div behave like a button */
    padding: 0px 25px; /* Adds some padding */
    background-color: #02B271; /* Button background color */
    color: white; /* Text color */
    border-radius: 50px; /* Rounded corners */
    cursor: pointer; /* Changes cursor to pointer on hover */
    margin: 2rem 0; /* Reduced margin for button */
}

.button a {
    text-decoration: none; /* Remove the underline from the link */
    color: white; /* Ensure the text color is white */
    font-weight: bold;
    display: block;
    text-align: center;
    cursor: pointer;
}

.image-container {
    position: absolute; /* Position the image container absolutely */
    bottom: -0.2rem; /* Stick to the bottom of the page */
    left: 49%; /* Center horizontally */
    transform: translateX(-80%); /* Adjust for centering */
    margin-top: 5rem; /* Add some space above the image */
}

.responsive-image {
    width: 164%; /* Adjust the width as needed (e.g., 80% of the container) */
    height: auto; /* Maintain aspect ratio */
}
