body {
    background-image: linear-gradient(to bottom, #23223C, #23223C, #312F6B); /* Add the gradient background */
    background-color: #23223C; /* Fallback background color */
    text-align: center; /* Center all text */
    display: flex; /* Use Flexbox */
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center horizontally */
    height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    position: relative; /* Set position to relative for absolute positioning of children */
}

.titles {
    align-items: center;
    padding-top: 108px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    color: white; /* Set all heading text to white */
}

h1 {
    font-size: 5.3rem;
    margin: 0; /* No margin for h1 */
    font-weight: bold;
}

.highlight-habit {
    color: #F25DFF; 
}

.highlight-impact {
    color: #FFE93F;
}

h2 {
    margin: 0.5rem 2rem; /* Reduced margin for h2 */
}

.button {
    font-family: "Poppins", sans-serif;
    display: inline-block; /* Makes the button-like div behave like a button */
    padding: 10px 25px; /* Adds some padding */
    background-color: #02B271; /* Button background color */
    color: white; /* Text color */
    border-radius: 50px; /* Rounded corners */
    text-decoration: none; /* Remove underline from the link */
    cursor: pointer; /* Changes cursor to pointer on hover */
    margin: 3rem 0;
    transition: transform 0.6s ease, opacity 0.6s ease;
    position: relative; /* Set position to relative */
    z-index: 10; /* Set a high z-index to ensure it appears on top */
}

.button:hover {
    transform: scale(1.025); /* Add this to trigger the transition */
    opacity: 0.6;
}

.image-container {
    position: absolute; /* Position the image container absolutely */
    bottom: -0.2rem; /* Stick to the bottom of the page */
    left: 51%; /* Center horizontally */
    transform: translateX(-80%); /* Adjust for centering */
    margin-top: 5rem; /* Add some space above the image */
}

.responsive-image {
    width: 158%; /* Adjust the width as needed (e.g., 80% of the container) */
    height: auto; /* Maintain aspect ratio */
}


.deco {
    position: absolute; /* Position absolutely */
    background-size: cover; /* Cover the entire area */
    z-index: -100; /* Ensure it is behind other content */
    animation: moveUpDown 3s ease-in-out infinite; /* Default animation */
}

/* Specific deco images with different animation durations */
.deco1 {
    top: 5rem; /* 90px from the top */
    left: 2rem; /* 40px from the left */
    width: 60px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    animation-duration: 2s; /* Faster animation */
}

.deco2 {
    top: 20rem; /* 200px from the top */
    left: 10rem; /* 200px from the left */
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    animation-duration: 4s; /* Slower animation */
}

.deco3 {
    top: 25rem; /* 300px from the top */
    left: 2rem; /* 100px from the left */
    width: 75px; /* Adjust width as needed */
    height: 75px; /* Adjust height as needed */
    animation-duration: 3s; /* Medium speed animation */
}

.deco4 {
    top: 40rem; /* 300px from the top */
    left: 3.5rem; /* 100px from the left */
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    animation-duration: 5s; /* Medium speed animation */
}

.deco5 {
    top: 5rem; /* 90px from the top */
    right: 2rem; /* 40px from the left */
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    animation-duration: 2s; /* Faster animation */
}

.deco6 {
    top: 20rem; /* 200px from the top */
    right: 10rem; /* 200px from the left */
    width: 55px; /* Adjust width as needed */
    height: 55px; /* Adjust height as needed */
    animation-duration: 4s; /* Slower animation */
}

.deco7 {
    top: 25rem; /* 300px from the top */
    right: 2rem; /* 100px from the left */
    width: 35px; /* Adjust width as needed */
    height: 35px; /* Adjust height as needed */
    animation-duration: 3s; /* Medium speed animation */
}

.deco8 {
    top: 40rem; /* 300px from the top */
    right: 3.5rem; /* 100px from the left */
    width: 75px; /* Adjust width as needed */
    height: 75px; /* Adjust height as needed */
    animation-duration: 5s; /* Medium speed animation */
}

/* Keyframes for up and down movement */
@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0); /* Start and end at original position */
    }
    50% {
        transform: translateY(-20px); /* Move up */
    }
}